@import "variables";

$theme-colors: (
        "white": $white,
        "black": $black,
        "primary": #0074d9,
        "warn": #eb2f06
);

$grid-breakpoints: (
        xs: 0,
        sm: 480px,
        md: 640px,
        lg: 992px,
        xl: 1300px
);
$enable-rounded: false;

$btn-padding-y: 10px;
$btn-padding-x: 20px;
$btn-border-radius: 10px;
$btn-border-radius-sm: 10px;
$btn-border-radius-lg: 10px;

@import "imports";
@import '../node_modules/bootstrap-vue/src/index';
